#main-inner {
  padding: 0;
  margin: 0 auto;
  width: 980px;
}

#main.registrations-new, .registrations-create, .registrations-simple-new {
  margin: 0;

  & .main-body {
    width: 590px;
    margin-right: 40px;
    padding: 40px 40px 40px 0;
    border-right: 1px solid #D7D8DF;
    float: left;

    h1 {
      font-weight: 600;
      font-size: 22px;
    }
  }

  & .right-side-message {
    padding: 40px 0 40px;
    width: 290px;
    float: left;

    h2 {
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 14px;
      font-weight: 600;
      margin: 30px 0 15px;
    }

    p {
      font-size: 13px;
      color: #6A6E71;
      margin-bottom: 10px;
    }
  }
}

#confirm-email-and-signup {
  border: 1px solid #D7D8DF;
  margin: 20px 0 40px;
  padding: 50px 40px 40px;
  position: relative;

  .confirm-email-block {
    margin-bottom: 18px;

    span {
      min-width: 115px;
      display: inline-block;
    }
  }

  .signup-up-captions {
    margin-top: 60px;
  }

  .signin-link {
    margin-top: 40px;
  }
}


input[type="text"], input[type="password"], select, textarea, input[type="tel"], input[type="email"], input[type="number"] {
    padding: 3px 4px;
    border: 1px solid #D7DBDF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
